{% extends "base.html" %}
{% block title %}Password Reset{% endblock %}
{% block index %}
{% endblock %}
{% block content %}
    <div class="container mt-5">
        <h1>Password Reset Requested</h1>
        <p>
            Hello {{ email }},
        </p>
        <p>
            You have requested a password reset. Follow the link below to reset your password:
        </p>
        <a href="{{ protocol }}://{{ domain }}{% url "password_reset_confirm" uidb64=uid token=token %}" class="btn btn-primary">
            Reset Password
        </a>
        <p>
            Your username, in case you've forgotten: {{ user.get_username }}
        </p>
    </div>
{% endblock %}
