{% extends "base.html" %}
{% block title %}Change Password{% endblock %}
{% block index %}
{% endblock %}
{% block content %}
    <div class="container mt-5">
        <h1>Change Password</h1>
        <p>Use the form below to change your password.</p>
        <form method="post" action="">
            {% csrf_token %}
            
            <div class="form-group">
                {{ form.old_password.label_tag }}
                {{ form.old_password }}
            </div>
            
            <div class="form-group">
                {{ form.new_password1.label_tag }}
                {{ form.new_password1 }}
            </div>
            
            <div class="form-group">
                {{ form.new_password2.label_tag }}
                {{ form.new_password2 }}
            </div>
            
            <p><button type="submit" class="btn btn-primary">Change</button></p>
        </form>
    </div>
{% endblock %}
